/stringtie
*.o
*.a
/htslib/xlibs/
/htslib/bzip2/
/htslib/libdeflate/
/htslib/lzma/
/htslib/config.h
/htslib/config_vars.h
/htslib/htscodecs.mk
/htslib/htscodecs/htscodecs/version.h
/htslib/version.h
/build/
/benchmark-results/
/benchmarks/data/*
!/benchmarks/data/.gitkeep
!/benchmarks/data/README.md
/tests/*.bam
/tests/*.bai
/tests/*.cram
/tests/*.crai
/tests/*.fa
/tests/*.fasta
/tests/*.fai
/tests/*.gff
/tests/*.gtf
/tests/*.out
/tests/*.out.*
/tests/*.sam
/tests/version
*.profraw
*.profdata
__pycache__/
.DS_Store
